<!DOCTYPE html>
<html>
  <head>
    <title>Chris Barnett Portfolio</title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <script
      src="https://kit.fontawesome.com/b403f78b1b.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="https://use.typekit.net/kml1xdv.css" />

    <link rel="icon" type="image/x-icon" href="/src/assets/images/myfav.png" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
